body {
  font-family: "Montserrat";
  text-align: center;
  scroll-behavior: smooth;
}

p {
  color: #8f8f8f;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background: linear-gradient(to bottom, rgb(216, 246, 248) 0%, #63edf1 100%);
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;

}

.navbar-dark .navbar-brand {
  color: black;
}

.navbar-dark .navbar-brand:hover {
  color: blue;
}

.navbar-dark .navbar-nav .nav-link {
  color: black;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: blue;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("//Images/hd-black-menu-burger-icon-transparent-background-31634946207uno2yrzogi-removebg-preview\ \(1\).png");
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

.count-top-bar {
  margin: 0;
  padding: 25px 0;
  list-style: none;
  display: flex;
}

.count-top-bar li {
  padding: 0 40px ;
  border: 1px solid #d9d9d9;
  border-top: 0px;
  border-bottom: 0px;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
}

.count-top-bar span{
  color: blue;
}

.wordcount-box {
  margin: 2% auto;
  padding: 15px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  justify-content: left;
}
 
.wordcount-box textarea {
  width: 100%;
  height: 350px;
  padding: 10px;
  border: 1px solid #d9d9d9;
  outline: none;
  font-size: 1.1em;
  resize: none;
  line-height: 1.5em;
  margin: 1% 0;
  background-color: white;
  color: black;
}
 
.wordcount-box textarea:hover {
  border-color: grey;
}
 
.wordcount-box textarea:focus {
  border-color: #4D90FE;
}

.contact{
  background: linear-gradient(to bottom, rgb(216, 246, 248) 0%, #63edf1 100%);
}

.contact p{
  color: blue;
}

.social-icon {
  margin: 20px 10px;
  color: blue;
  opacity: 0.6;
}

.social-icon:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .count-top-bar {
    margin: 0;
    padding: 25px 0;
    list-style: none;
    display: list-item;
    flex-wrap: wrap;

  }

  .count-top-bar li {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar {
    text-align: center;
  }  
  
}

@media (max-width: 480px) {
  .navbar-brand {
    font-size: 1.8em;
  }
}

@media (max-width: 380px) {
  .navbar-brand {
    font-size: 1.4em;
  }
}
